<div class="index">
	<h1 class="page-title">Books</h1>

	<table>
		<tr>
			<th class="book-list">Title</th>
			<th class="book-list">Body</th>
		</tr>

		<tr>
			<td class="book-list">テスト</td>
			<td class="book-list">テスト</td>

			<td class="book-list">
				<a class="book-link" href="#">Show</a>
			</td>
			<td class="book-list">
				<a class="book-link" href="#">Edit</a>
			</td>
			<td class="book-list">
				<a class="book-link" href="#">Destroy</a>
			</td>
		</tr>


		<tr>
			<td class="book-list">テストてすとtest</td>
			<td class="book-list">テストてすとtest</td>
		</tr>
	</table>

	<h3 class="section-title">New Book</h3>
</div>
